* {
  padding: 0;
  margin: 0;
}


.box {
  width: 100%;
  height: 800px;
}
.enterButton {
  width: 100%;
  height: 50%;
)
  

.searchBox {
  height: 148px;
  width: 537px;
  margin: 2%;
  /* new */
  opacity: 0;
}
