* {
  padding: 0;
  margin: 0;
}
body {
  /*font-family: 'Open Sans', sans-serif;
  display: flex;
  height: 900px;
  flex-direction: column;*/
  background-image: url("https://timedotcom.files.wordpress.com/2018/04/national-beer-day-ipa.jpg");
  background-size: 100%;
  background-repeat: 3;
  background-color: rgba(0,0,0,.5);
  display: flex;
  height: 1600px;
  width: 100%;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100%;
  height: 800px;
}
.enterButton {
  width: 100%;
  height: 50%;
}
.gotBeer {
  width: 60%;
  height: 100px;
  margin-top: 25%;
  margin-left: 25%;
  margin-right: 25%;
  display: inline-block;
  border-radius: 35px;
  background-color: #FF8C00;
  background: rgba(240, 121, 9, 0.7);
  font-family: 'Gloria Hallelujah', cursive;
  text-transform: lowercase;
  font-size: 50px;
  outline: none;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  text-transform: lowercase;
}

.hidden .second {
  /* display: none; */
  pointer-events: none;
}


.searchBox {
  height: 148px;
  width: 537px;
  margin: 2%;
  /* new */
  opacity: 0;
}
.beerForm {
  display: inline-block;
}
input {
  position: relative;
  z-index: 100;
  border-radius: 15px;
}

input#searchBeer{
  width: 300px;
  height: 100px;
  background: #2b303b;
  border: none;
  font-size: 15pt;
  font-family: 'Gloria Hallelujah', cursive;
  text-transform: lowercase;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 35px;
  outline: none;
}

input#searchBeer::-webkit-input-placeholder {
  color: #65737e;
}

input[type="submit"] {
  background: url(http://icons.iconarchive.com/icons/flat-icons.com/flat/96/Beer-icon.png) center center no-repeat;
  border: none;
  height: 100px;
  width: 100px;
  position: relative;
  float: left;
  outline: none;
}


input[type="submit"]:hover {


}



.second {
    width: 100%;
    background: rgba(240, 121, 9, 0.7);
    margin-top:40%;
    pointer-events: none;
}

.beerResults {
color: rgb(0,0,0);
font-family: 'Gloria Hallelujah', cursive;
text-transform: lowercase;
}

h2 {
margin: 10px;

}

h3.name {
margin: 0;
}

ul.beerList {
margin-left: 140px;
}

li {
  /*margin: 10px;*/
 list-style-image: url(http://icons.iconarchive.com/icons/flat-icons.com/flat/96/Beer-icon.png);
  border: 1px black;
  margin: 10px 10px 30px 10px;
  list-style: none;
  position: relative;
  font-family: 'Gloria Hallelujah', cursive;
}

li::after {
content: url(http://icons.iconarchive.com/icons/flat-icons.com/flat/96/Beer-icon.png);
position: absolute;
top: 5px;
left: -110px;
}
